:root {
    --mainColor : #252734;
    --secondaryColor : #333646;
    --assentColor : #FF9100;
}

body {
    background-color: #333646;
    min-height:900px;
    
}

#hero {
    color:rgb(0, 130, 243);
    
}
#hero h1 {
    color: #FF9100;
}
h2 {
    color: #FF9100;
    margin: auto;
    
}

li {
    color: azure;
}
